body {
	background-color: #141414;
}

.container {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	max-width: 100%;
}

h1 {
	text-align: center;
	background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#quiz {
	margin: 1rem;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
	height: 45rem;
	width: 30rem;
	border-radius: 10px;
	float: center;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.568) 30%, rgba(17, 17, 17, 0.808) 100%)
}

input {
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
	width: 50%;
}

#passbox {
	height: 0.5px;
	width: 100%;
	font-size: 1;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}


#button {
	background: #f77062;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: white;
	border: 1px solid #f77062;
	color: black;
	cursor: pointer;
}

#message {
	margin-top: 3rem;
	font-size: large;
    margin-bottom: 0.1px;
}

#picture {
	margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
    height: 300px;
}

#mc {
	display: inline;
}

.loading {
	height: 50px;
	margin-top: 1rem;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 34px;
	height: 34px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.buttonsubmit, .loading { grid-area: menu; }
.item3 { grid-area: main; }


.grid-container {
	display: grid;
	grid-template-areas:
    'menu main main '
    'menu main main ';
	grid-gap: 10px;
	padding: 1px;
}

.grid-container > div {
	text-align: center;
}

.grid-container > div > p {
	margin-top: 25px;
}